@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@font-face {
  font-family: 'Norse-Bold';
  src: url('./fonts/Norse-Bold.otf');
}
:root {
  --primary-bg-color: rgb(250, 250, 250);
  --secondary-bg-color: rgb(255, 255, 255);
  --header-text-color: rgb(255, 255, 255);
  --main-text-color: rgb(29, 3, 3);
  --container-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  --input-text-color: rgb(37, 37, 37);
  --input-border-color: rgba(0, 0, 0, 0.1);
  --input-background-color: rgb(250, 250, 250);
  --input-shadow-color-focus: rgb(138, 150, 252);
  --button-color: rgb(189, 131, 65);
  --button-color-hover: rgb(197, 142, 80);
  --button-color-active: rgb(141, 96, 45);
  --hyperlink-color:rgb(189, 131, 65);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Roboto, sans-serif;
}
.body-container {
  display: flex;
  height: 100vh;
  background-color: var(--primary-bg-color);
}

/* header section ===================== */
.header-container {
  flex: 40%;
  display: flex;
  position: relative;
}
.header-container > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: 25% 100%;
}

.logo {
  background-color: rgba(0, 0, 0, 0.4);
  position: absolute;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  top: 20%;
  gap: 1rem;
  padding: 1rem 0;
}
.logo > img {
  width: 7rem;
  height: auto;
}
.logo > p {
  font-family: 'Norse-Bold';
  color: var(--header-text-color);
  font-size: 6rem;
}

.credit {
  position: absolute;
  display: block;
  width: 100%;
  bottom: 10px;
  font-size: 0.8rem;
}
.credit > p {
  text-align: center;
  color: var(--header-text-color);
}
.credit a {
  color: var(--header-text-color);
  text-align: center;
}
/* end of header section====================== */

/* main section ======================= */
.main-container {
  flex: 60%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap:3rem;
}
.margin-move {
  margin-left: 50px;
}
/* =======text======= */
.container1 {
  width: min(100%, 700px);
}
.container1 p {
  font-size: 1.5rem;
  font-weight: 500;
  color: var(--main-text-color);
}
.container1 p:last-child {
  margin: 2rem 0 0;
}
/* =========form======= */
.container2 {
  width: 100%;
  border: none;
  box-shadow: var(--container-shadow);
  padding: 30px 0;
  background-color: var(--secondary-bg-color);
}
.container2 p {
  font-size: 1.5rem;
  font-weight: 600;
  margin-bottom: 10px;
  color: var(--main-text-color);
}

.sign-up-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: min(750px, 100%);
}
.wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}
.sign-up-container label {
  font-size: 0.85rem;
  margin: 10px 0 3px;
  letter-spacing: 2px;
  color: var(--input-text-color);
}
.sign-up-container input {
  width:20rem;
  padding: 0.3rem;
  font-size: 1rem;
  border-radius: 5px;
  background-color: var(--input-background-color);
  border: 1px solid var(--input-border-color);
  letter-spacing: 0.5px;
}
.sign-up-container input[type='number'] {
  -webkit-appearance: none !important;
  -moz-appearance: textfield !important;
}
.sign-up-container input:focus {
  outline: 2px solid var(--input-shadow-color-focus);
  box-shadow: 0 0 5px var(--input-shadow-color-focus);
}

/* button and login */
.container3 {
  border:1px solid red
}
.container3 button {
  font-size: 1.2rem;
  padding: 12px 60px;
  color: var(--header-text-color);
  background-color: var(--button-color);
  border: none;
  border-radius: 10px;
  margin-bottom: 30px;
  transition: transform 200ms;
  box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.3);
}
.container3 button:hover {
  transform: translate(0px, -1px);
  background-color: var(--button-color-hover);
  cursor: pointer;
}
.container3 button:active {
  transform: translate(0px, 1px);
  background-color: var(--button-color-active);
}
.container3 p {
  font-size: 1rem;
  color: var(--main-text-color);
}
.container3 a{
  color: var(--hyperlink-color);
}